<hr>
<h2>IF</h2>
<p *ngIf="condition; else elseBlock">True</p>>

<ng-template #elseBlock>
    <p>False</p>
</ng-template>


<p *ngIf="clickCondition">True</p>
<p *ngIf="!clickCondition">False</p>

<button (click)= "onClick()">Clicar</button>  

<hr>
<h2>FOR</h2>
<ul>
    <li *ngFor="let item of list, let i  = index" (click)="onClickEvent(i)">[ {{i + 1}} ]  {{item.nome}} - {{item.idade}} anos</li>
</ul>

<button (click)= "onClickAdd()">Adicionar</button> 

<hr>
<h2>Switch</h2>

<input type="text" [(ngModel)] = "nome">

<div [ngSwitch]="nome">
    <p *ngSwitchCase="'Miguel'">
        Miguel
    </p>

    <p *ngSwitchCase="'Pedro'">
        Pedro
    </p>

    <p *ngSwitchDefault>
        Resultado não encontrado
    </p>
</div>

